{% extends 'clientes/base.html' %}

{% block titulo %}  Clientes {% endblock titulo %}

{% block contenido %}

    <div class="row container m-5">
        <h1>Nuestros clientes:</h1>

        {% for cliente in clientes %}

        <div class="card text-dark bg-light m-3" style="max-width: 18rem;">
          
          <div class="row g-0">  
              <div class="card-header">
                  <h5 class="card-title">{{cliente.apellido}}, {{cliente.nombre}}</h5>
              </div>
              <div class="card-body">
                <p class="card-text">Teléfono: {{cliente.telefono}}</p>
              </div>
          </div>
          
        </div>

        {% endfor %}

        <a class="nav-link" href="{% url 'clientenuevo' %}">Crear cliente nuevo</a>
    </div>

{% endblock %}