{% extends 'clientes/base.html' %}

{% block titulo %}  Mascotas {% endblock titulo %}

{% block contenido %}
        <div>
        <form method="get">
                {{ formularioMascota.as_table}}
                <input type="submit" class="btn btn-dark px-5" value="Buscar">
        </form>
        </div>

        <div class="row container m-5">
            <h1>Las mascotas que atendemos:</h1>
            
            {% for mascota in mascotas %}
        
            <div class="card m-2" style="width: 18rem;">
                <div class="row g-0">
                    <img src="https://dummyimage.com/150x150/6c757d/dee2e6.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">{{mascota.nombre}}</h5>
                        <p class="card-text">Raza: {{mascota.raza}} </p>
                        <p class="card-text">Fecha de nacimiento: {{mascota.fecha_nac}} </p>
                    </div>
                </div>
            </div>
            
            {% endfor %}
        </div>

{% endblock %}